.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    height: 47px;
    padding: 0 20px;

    &__logo {
        h3 {
            color: rgb(32, 31, 31);
        }
    }

    &__buttons {
        button {
            margin-left: 10px;
            padding: 5px;
            border-radius: 10px;
            border: none;
            outline: none;
            min-width: 100px;
            background-color: rgb(216, 216, 211);

            &:hover {
                background: #64686b;
            }
        }
    }

}




// Good afternooon ma'am, I wanted to talk to you about taking Thursday and Friday off, as I mentioned to you earlier that I had my mid-semester tests last week. You had mentioned that I should have informed you earlier that s why i reschedule them at that time . Now, my tests are scheduled for Thursday and Friday, and I kindly request that I be granted leave for those two days. Convert it in shorter message